<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ithome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.hkd.ithome.activities.Index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.hkd.ithome.activities.Me_Ithome" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Setting" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Login" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Theme" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Comment" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Post" >
        </activity>

        <activity android:name="com.hkd.ithome.activities.KejiChatActivity"></activity>

    </application>

</manifest>
