<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ithome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- 相机,SD卡权限 -->
    <uses-permission android:name="android.permission.CAMERA" />  
    <uses-feature android:name="android.hardware.camera"/>  
    <uses-feature android:name="android.hardware.camera.autofocus"/>  
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />  
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />  
    <!-- 允许读取手机状态相关数据 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许访问SD卡 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许获得audio session ID -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 允许获得当前或最近运行的任务 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 允许获得电话状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 允许读取SD卡 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 短信验证 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 短信验证end -->

    <application
        android:name="com.hkd.ithome.app.AppApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar" >
        <activity
            android:name="com.hkd.ithome.activities.Index"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Ithome" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.ChannelActivity" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Setting" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Login" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Theme" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Comment" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Post" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.KejiChatActivity" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.ItQuan_ListItemClickActivity" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.WebviewActivity" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_login_success" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.Me_Register" >
        </activity>

        <activity android:name="com.hkd.ithome.activities.Me_Gold_Shop" >
        </activity>


        <!-- 辣品界面__详情__确认订单 -->
        <activity android:name="com.hkd.ithome.activities.LaPinDetial" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.LaPinOrder" >
        </activity>
        <activity android:name="com.hkd.ithome.activities.ItQuan_KeJiChat_ClickImgEdit">
        </activity>
        <activity android:name="com.hkd.ithome.activities.SouSuoActivity"></activity>
        
        
        
        <!-- lsj图片上传 -->
         <!-- <activity
            android:name="com.king.photo.activity.ImageGridActivity" android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.king.photo.activity.TestPicActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.king.photo.activity.PhotoActivity"
            android:screenOrientation="portrait" />
         -->
        
        <activity
            android:name="com.hkd.ithome.activities.Photoes_AlbumActivity"
            android:screenOrientation="portrait">
        </activity>
         <activity
            android:name="com.hkd.ithome.activities.Photoes_GalleryActivity">
        </activity>
         <activity
            android:name="com.hkd.ithome.activities.Photoes_ImageFile">
        </activity>
         <activity
            android:name="com.hkd.ithome.activities.Photoes_MainActivity">
        </activity>
         <activity
            android:name="com.hkd.ithome.activities.Photoes_ShowAllPhoto">
        </activity>
       <!-- lsj图片上传end -->
    </application>

</manifest>
